{% extends './base.html' %}

{% block title %}矿物计算器{% endblock %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="static/main.css">
<script type='text/javascript' src='/static/lib/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='/static/lib/jquery.tablesorter.min.js'></script>
<script type='text/javascript' src='/static/gen/mineral-price.js'></script>
{% endblock %}

{% block topic %}矿物计算器{% endblock %}
{% block body %}

<div>本应用不是 <a href='http://www.ceve-market.org/home/'>EVE 国服市场中心</a>的替代物. 本应用计算出的价格仅供参考.</div>
<table style='text-align: center'>
<tr id='mname'>
<th>矿物</th>
</tr>
<tr id='moffer'>
<th>售价</th>
</tr>
<tr id='mbid'>
<th>出价</th>
</tr>
<tr id='mamount'>
<th>数量</th>
</tr>
</table>
<div>
<p><button id='mcalc'>计算</button></p>
<p>售价: <span id='mroffer'></span></p>
<p>出价: <span id='mrbid'></span></p>
</div>

<script>
-function() {
    $.each(mprices, function(i, e) {
        $('#mname').append($('<td>').text(e.name));
        $('#moffer').append($('<td>').text(e.offer));
        $('#mbid').append($('<td>').text(e.bid));
        $('#mamount').append($('<td>').append($('<input>').attr('placeholder', e.name)));
    });

    $('#mcalc').click(function() {
        var offers = $('#moffer td'),
            bids = $('#mbid td'),
            amounts = $('#mamount input');
        var len = amounts.length;
        var offer = 0, bid = 0;
        console.log(len)
        for (var i = 0; i < len; ++i) {
            offer += parseFloat(offers[i].innerText) * (parseFloat(amounts[i].value) || 0);
            bid += parseFloat(bids[i].innerText) * (parseFloat(amounts[i].value) || 0);
        }
        $('#mroffer').text(offer);
        $('#mrbid').text(bid);
    });
}();
</script>

<table id='oretbl'>
    <thead>
    <tr>
     <th>矿石</th>
     <th>体积</th>
     <th>精炼所需最少数量</th>
     <th>三钛合金</th>
     <th>类晶体胶</th>
     <th>类银</th>
     <th>同位</th>
     <th>小超</th>
     <th>石英</th>
     <th>大超</th>
     <th>出价</th>
     <th>售价</th>
     <th>均价</th>
    </tr>
    </thead>
    <tbody>
    <tr>
     <th>凡晶石</th>
     <td>0.1</td>
     <td>333</td>
     <td>1000</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>富凡晶石</th>
     <td>0.1</td>
     <td>333</td>
     <td>1050</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>厚凡晶石</th>
     <td>0.1</td>
     <td>333</td>
     <td>1100</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>灼烧岩</th>
     <td>0.15</td>
     <td>333</td>
     <td>833</td>
     <td>416</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>浓缩灼烧岩</th>
     <td>0.15</td>
     <td>333</td>
     <td>875</td>
     <td>437</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>厚灼烧岩</th>
     <td>0.15</td>
     <td>333</td>
     <td>916</td>
     <td>458</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>干焦岩</th>
     <td>0.3</td>
     <td>333</td>
     <td>844</td>
     <td>59</td>
     <td>120</td>
     <td>0</td>
     <td>11</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>固体干焦岩</th>
     <td>0.3</td>
     <td>333</td>
     <td>886</td>
     <td>62</td>
     <td>126</td>
     <td>0</td>
     <td>12</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>流体干焦岩</th>
     <td>0.3</td>
     <td>333</td>
     <td>928</td>
     <td>65</td>
     <td>132</td>
     <td>0</td>
     <td>12</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>斜长岩</th>
     <td>0.35</td>
     <td>333</td>
     <td>256</td>
     <td>512</td>
     <td>256</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>蓝色斜长岩</th>
     <td>0.35</td>
     <td>333</td>
     <td>269</td>
     <td>538</td>
     <td>269</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>富斜长岩</th>
     <td>0.35</td>
     <td>333</td>
     <td>282</td>
     <td>563</td>
     <td>282</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>奥贝尔石</th>
     <td>0.6</td>
     <td>500</td>
     <td>307</td>
     <td>123</td>
     <td>0</td>
     <td>307</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>银色奥贝尔石</th>
     <td>0.6</td>
     <td>500</td>
     <td>322</td>
     <td>129</td>
     <td>0</td>
     <td>322</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>金色奥贝尔石</th>
     <td>0.6</td>
     <td>500</td>
     <td>338</td>
     <td>135</td>
     <td>0</td>
     <td>338</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>水硼沙</th>
     <td>1.2</td>
     <td>400</td>
     <td>386</td>
     <td>0</td>
     <td>773</td>
     <td>386</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>发光水硼沙</th>
     <td>1.2</td>
     <td>400</td>
     <td>405</td>
     <td>0</td>
     <td>812</td>
     <td>405</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>灼热水硼沙</th>
     <td>1.2</td>
     <td>400</td>
     <td>425</td>
     <td>0</td>
     <td>850</td>
     <td>425</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
    </tr>
    <tr>
     <th>杰斯贝</th>
     <td>2</td>
     <td>500</td>
     <td>259</td>
     <td>437</td>
     <td>518</td>
     <td>0</td>
     <td>259</td>
     <td>8</td>
     <td>0</td>
    </tr>
    <tr>
     <th>纯杰斯贝</th>
     <td>2</td>
     <td>500</td>
     <td>272</td>
     <td>459</td>
     <td>544</td>
     <td>0</td>
     <td>272</td>
     <td>8</td>
     <td>0</td>
    </tr>
    <tr>
     <th>朴质杰斯贝</th>
     <td>2</td>
     <td>500</td>
     <td>285</td>
     <td>481</td>
     <td>570</td>
     <td>0</td>
     <td>285</td>
     <td>9</td>
     <td>0</td>
    </tr>
    <tr>
     <th>希莫非特</th>
     <td>3</td>
     <td>500</td>
     <td>650</td>
     <td>260</td>
     <td>60</td>
     <td>212</td>
     <td>424</td>
     <td>28</td>
     <td>0</td>
    </tr>
    <tr>
     <th>多色希莫非特</th>
     <td>3</td>
     <td>500</td>
     <td>683</td>
     <td>273</td>
     <td>63</td>
     <td>223</td>
     <td>445</td>
     <td>29</td>
     <td>0</td>
    </tr>
    <tr>
     <th>辐射希莫非特</th>
     <td>3</td>
     <td>500</td>
     <td>715</td>
     <td>286</td>
     <td>66</td>
     <td>233</td>
     <td>466</td>
     <td>31</td>
     <td>0</td>
    </tr>
    <tr>
     <th>同位原矿</th>
     <td>3</td>
     <td>500</td>
     <td>0</td>
     <td>290</td>
     <td>0</td>
     <td>708</td>
     <td>354</td>
     <td>32</td>
     <td>0</td>
    </tr>
    <tr>
     <th>玻璃状同位原矿</th>
     <td>3</td>
     <td>500</td>
     <td>0</td>
     <td>305</td>
     <td>0</td>
     <td>743</td>
     <td>372</td>
     <td>34</td>
     <td>0</td>
    </tr>
    <tr>
     <th>光面同位原矿</th>
     <td>3</td>
     <td>500</td>
     <td>0</td>
     <td>319</td>
     <td>0</td>
     <td>779</td>
     <td>389</td>
     <td>35</td>
     <td>0</td>
    </tr>
    <tr>
     <th>灰岩</th>
     <td>16</td>
     <td>250</td>
     <td>71000</td>
     <td>9000</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>140</td>
    </tr>
    <tr>
     <th>亮灰岩</th>
     <td>16</td>
     <td>250</td>
     <td>74550</td>
     <td>9450</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>147</td>
    </tr>
    <tr>
     <th>发光灰岩</th>
     <td>16</td>
     <td>250</td>
     <td>78100</td>
     <td>9900</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>154</td>
    </tr>
    <tr>
     <th>片麻岩</th>
     <td>5</td>
     <td>400</td>
     <td>3700</td>
     <td>0</td>
     <td>3700</td>
     <td>700</td>
     <td>0</td>
     <td>171</td>
     <td>0</td>
    </tr>
    <tr>
     <th>棱柱片麻岩</th>
     <td>5</td>
     <td>400</td>
     <td>3885</td>
     <td>0</td>
     <td>3885</td>
     <td>735</td>
     <td>0</td>
     <td>180</td>
     <td>0</td>
    </tr>
    <tr>
     <th>彩色片麻岩</th>
     <td>5</td>
     <td>400</td>
     <td>4070</td>
     <td>0</td>
     <td>4070</td>
     <td>770</td>
     <td>0</td>
     <td>188</td>
     <td>0</td>
    </tr>
    <tr>
     <th>黑赭石</th>
     <td>8</td>
     <td>400</td>
     <td>25500</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>500</td>
     <td>250</td>
     <td>0</td>
    </tr>
    <tr>
     <th>条纹赭</th>
     <td>8</td>
     <td>400</td>
     <td>26775</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>525</td>
     <td>263</td>
     <td>0</td>
    </tr>
    <tr>
     <th>黑曜赭石</th>
     <td>8</td>
     <td>400</td>
     <td>28050</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>550</td>
     <td>275</td>
     <td>0</td>
    </tr>
    <tr>
     <th>克洛基石</th>
     <td>16</td>
     <td>250</td>
     <td>38000</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>331</td>
     <td>663</td>
     <td>0</td>
    </tr>
    <tr>
     <th>斜克洛基石</th>
     <td>16</td>
     <td>250</td>
     <td>39900</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>348</td>
     <td>696</td>
     <td>0</td>
    </tr>
    <tr>
     <th>克洛基水晶</th>
     <td>16</td>
     <td>250</td>
     <td>41800</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>364</td>
     <td>729</td>
     <td>0</td>
    </tr>
    <tr>
     <th>双多特石</th>
     <td>16</td>
     <td>200</td>
     <td>0</td>
     <td>12000</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>341</td>
     <td>170</td>
    </tr>
    <tr>
     <th>三晶双多特斜岩</th>
     <td>16</td>
     <td>200</td>
     <td>0</td>
     <td>12600</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>358</td>
     <td>179</td>
    </tr>
    <tr>
     <th>单晶双多特斜岩</th>
     <td>16</td>
     <td>200</td>
     <td>0</td>
     <td>13200</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>375</td>
     <td>187</td>
    </tr>
    <tr>
     <th>艾克诺岩</th>
     <td>16</td>
     <td>200</td>
     <td>10000</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>166</td>
     <td>333</td>
    </tr>
    <tr>
     <th>红色艾克诺岩</th>
     <td>16</td>
     <td>200</td>
     <td>10500</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>174</td>
     <td>350</td>
    </tr>
    <tr>
     <th>初级艾克诺岩</th>
     <td>16</td>
     <td>200</td>
     <td>11000</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>0</td>
     <td>183</td>
     <td>366</td>
    </tr>
    </tbody>
</table>
<script>
-function() {
    $('#oretbl tbody tr').each(function (i, e) {
        e = $(e);
        var bid = 0, offer = 0, vol = parseFloat(e.children()[1].innerText) * parseInt(e.children()[2].innerText);
        e.find('td').slice(2, 2 + mprices.length).each(function (i, e) {
            var amount = parseInt(e.innerText);
            console.log(i, mprices[i], amount);
            bid += mprices[i].bid * amount;
            offer += mprices[i].offer * amount;
        });
        e.append($('<td>').text(bid / vol));
        e.append($('<td>').text(offer / vol));
        e.append($('<td>').text((bid + offer) / (2 * vol)));
    });
    $('#oretbl').tablesorter();
}();
</script>
{% endblock %}
